html {
  color: #fff;
  scroll-behavior: smooth;
}

body {
  background: rgb(11,1,1);
  background: linear-gradient(90deg, rgba(11,1,1,1) 0%, rgba(181,34,74,1) 56%, rgba(0,255,132,1) 100%) fixed ;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  max-width: 1120px;
  
}


.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px;
}

.cabecalho .logo {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 2px solid #fff;
  text-decoration: underline;
  text-align: center;
  line-height: 55px;
  font-family: "Raleway", sans-serif;
}

.cabecalho a:hover .logo {
  color:#f51854;
  border: 2px solid #e4d7d7
}

.cabecalho .menu li a {
  font-size: 20px;
  text-transform: capitalize;
  padding: 10px 20px;
  transition: 0.2s;
}

.cabecalho .menu li a:hover {
  background-color: #f51854;
  color: #e7dede;
  border-radius: 50px;
  
}

  .container {
   list-style: none;
   font-size: 20px;
   padding: 10px 20px;
   
}

.container a:hover {
  background-color: #f51854;
  color: #e7dede;
  border-radius: 50px;
  
  
}




.home {
  display: flex;
  min-height: calc(100vh -125px);
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}

.home .informacoes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  letter-spacing: 2px;
  padding: 0 15px;
  max-width: 50%;
}

.home .informacoes h1 {
  font-family: "Raleway", sans-serif;
  font-size: 45px;
  margin-bottom: 20px;
}

.home .informacoes p {
  font-family: "Raleway" sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.home .redes-sociais {
  display: flex;
  gap: 20px;
}

.home.redes-sociais a i {
  border: 1 solid #fff;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  padding: 10px;
  text-align: center;
  font-size: 26px;
  transition: 0.3s;
}

.home .redes-sociais a i:hover {
  color:#f51854;
  border: 1px solid #f51854;
  transform: scale(1.3);
}

.home .container-foto .foto {
  max-width: 250px;
  border-radius: 45%;
}

.home .container-foto img {
  width: 100%;
  border-radius: 50%;
}

.projetos {
  padding: 70px 0;
 
}

.projetos .titulo {
  text-align: center;
  padding: 60px 0;
  font-size: 45px;
  font-weight: 500;
  text-transform: uppercase;
}



.conteiner-projetos {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: center;
}

.projetos .projeto {
  max-width: 260px;
  max-height: 500px;
  position: relative;
  display: none;
}

.projetos .projeto.ativo {
  display: block;
}

.projetos .projeto img {
  height: 100%;
  width: 100%;
}

.projetos .projeto h3 {
  background-color: #040203;
  width: 100%;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: absolute;
  bottom: 0;
}

.italico{
  font-style: italic ;
}

.projetos .projeto .informacoes-projeto {
  background-color: #040203;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-weight: 600;
  opacity: 0;
  transition: 0.3s;
  padding: 20px;
}

.projetos .projeto:hover .informacoes-projeto {
  opacity: 0.7;
  background-color: #000;
}

.projetos .btn-mostar-projetos {
  display: block;
  background: none;
  border: 1px solid #fff;
  border-radius: 15px;
  color: #fff;
  width: 180px;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.projetos .btn-mostar-projetos:hover {
  background-color: #f51854;
  transition: 0.3;
}

.projetos .btn-mostar-projetos.remover {
  display: none;
}

.links{
  margin: 10px 15px 20px 15px;
  font-weight: 700;
  text-decoration: underline;
  
 
}

.cursos .titulo{

  text-align: center;
  padding: 60px 0;
  font-size: 45px;
  font-weight: 500;
  text-transform: uppercase;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
  